<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/index.html}"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titleName}"></title>
</head>
<body>
    <div class="content-wrapper" layout:fragment="customer-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0" th:text="${titleName}"></h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        
        <!-- Main content -->
        <section class="content">
      <div class="container-fluid">
        <button type="button"  class="btn btn-primary mb-5 btn_saveCate" data-toggle="modal" data-target="#exampleModal">
          Thêm thể loại mới
        </button>
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Fixed Header Table</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                  <table class="table table-head-fixed text-nowrap table-striped" id="tblCategory">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Thể loại</th>
                        <th>Description</th>
                        <th>Control</th>

                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        <!-- /.row -->
      </div>
      
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm thể loại sách</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="FormsaveCate" onsubmit="editCategory()">

        <div class="modal-body">
          <input type="text" class="form-control" name="cid" hidden id="cid">

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Tên thể loại:</label>
              <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Decription:</label>
                <input type="text" name="description" class="form-control" id="description">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveCate" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-primary updateCate" onclick="editCategory()" data-dismiss="modal">Update</button>

        </div>
    </form>

      </div>
    </div>
  </div>
      <!-- /.container-fluid -->
    </section>
        <!-- /.content -->
      </div>
      
</body>
</html>
