<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org " xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/layout.html}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<section layout:fragment="client-body">
		<!-- Check Out Area Start -->
		<div class="check-out-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											<span>2</span>
											Billing Information
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingTwo">
									<div class="panel-body">
										<div class="row" th:if="${ship}">
											<!-- <div class="col-md-12">
												<div class="shop-select">
													<label>Country <span class="required">*</span></label>
													<select>
														<option value="Hà Nội">Hà Nội</option>
														<option value="Hồ Chí Minh">Hồ Chí Minh</option>
														<option value="Hải Phòng">Hải Phòng</option>
														<option value="Bắc Giang">Bắc Giang</option>
														<option value="Hải Dương">Hải Dương</option>
														<option value="Ninh Bình">Ninh Bình</option>
														<option value="Hưng Yên">Hưng Yên</option>
														<option value="Quảng Ninh">Quảng Ninh</option>
													</select>
												</div>
											</div> -->
											<div class="col-md-6">
												<p class="form-row">
													<input type="text" placeholder="First Name *" id="ship_name"
														th:value="${ship.user.fullname}">
												</p>
											</div>
											<div class="col-md-6">
												<p class="form-row">
													<input type="text" id="ship_address"  placeholder="Địa chỉ nhận hàng *" th:value="${ship.user.address}">
												</p>
											</div>

											<div class="col-md-6">
												<p class="form-row">
													<input type="email" readonly placeholder="Email Address *"
													th:value="${ship.user.email}">
												</p>
											</div>
											<div class="col-md-6">
												<p class="form-row">
													<input type="text" placeholder="Phone *" id="ship_phone" th:value="${ship.user.phone}">
												</p>
											</div>
											<div class="col-md-12">
												<label for="">Ghi chú</label>
												<p class="form-row order-notes">
													<textarea id="ship_note"></textarea>
												</p>
											</div>
											<div class="col-md-6">
												<div class="payment-met">
													<form action="#" id="payment-form">
														<ul class="form-list">
															<li class="control">
																<input type="radio" class="radio" title="Check / Money order"
																	name="payment[method]" id="p_method_checkmo">
																<label for="p_method_checkmo">Check / Money order </label>
															</li>
															<li class="control">
																<input type="radio" class="radio" title="Credit Card (saved)"
																	name="payment[method]" id="p_method_ccsave">
																<label for="p_method_ccsave">Credit Card (saved) </label>
															</li>
														</ul>
													</form>
													<div class="buttons-set">
														<button class="btn btn-default" onclick="addOrder()">Thanh toán</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFive">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseFive" aria-expanded="false"
											aria-controls="collapseFive">
											<span>5</span>
											Order Review
										</a>
									</h4>
								</div>
								<div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingFive">
									<div class="panel-body no-padding">
										<div class="order-review" id="checkout-review">
											<div class="table-responsive" id="checkout-review-table-wrapper">
												<table class="data-table" id="checkout-review-table">
													<thead>
														<tr>
															<th rowspan="1">Product Name</th>
															<th colspan="1">Price</th>
															<th rowspan="1">Qty</th>
															<th colspan="1">Subtotal</th>
														</tr>
													</thead>
													<tbody>


													</tbody>
													<tfoot>
														<tr>
															<td colspan="3">Subtotal</td>
															<td><span class="check-price subtotal">185.000đ</span></td>
														</tr>
														<tr>
															<td colspan="3">Shipping Handling (Flat Rate - Fixed)</td>
															<td><span class="check-price ship">25.000đ</span></td>
														</tr>
														<tr>
															<td colspan="3"><strong>Grand Total</strong></td>
															<td><strong><span
																		class="check-price total">210.000đ</span></strong>
															</td>
														</tr>
													</tfoot>
												</table>
											</div>
											<div id="checkout-review-submit">
												<div class="cart-btn-3" id="review-buttons-container">
													<p class="left">Forgot an Item? <a href="#">Edit Your Cart</a></p>
													<button type="submit" title="Place Order"
														class="btn btn-default"><span>Place Order</span></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-3">
						<div class="checkout-widget">
							<h2 class="widget-title">YOUR CHECKOUT PROGRESS</h2>
							<ul>
								<li><a href="#"><i class="fa fa-minus"></i> Billing Address</a></li>
								<li><a href="#"><i class="fa fa-minus"></i> Shipping Address</a></li>
								<li><a href="#"><i class="fa fa-minus"></i> Shipping Method</a></li>
								<li><a href="#"><i class="fa fa-minus"></i> Payment Method</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Check Out Area End -->
		<!-- Our Team Area Start -->
		<div class="our-team-area">
			<h2 class="section-title">Our Product</h2>
			<div class="container">
				<div class="row">
					<div class="team-list indicator-style">
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/1.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">THAO TÚNG TÂM LÝ - NHẬN DIỆN, THỨC TỈNH VÀ CHỮA LÀNH NHỮNG TỔN THƯƠNG
										TIỀM ẨN</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/2.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">Sách Tiếng Anh Cho Người Bắt Đầu</a>

								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/3.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">Ngày đòi nợ (sách in lại)</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/4.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">Nếu Chỉ Còn Một Ngày Để Sống</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/1.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">THAO TÚNG TÂM LÝ - NHẬN DIỆN, THỨC TỈNH VÀ CHỮA LÀNH NHỮNG TỔN THƯƠNG
										TIỀM ẨN</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-team-member">
								<a href="#">
									<img th:src="@{/user/img/about/team/2.jpg}" alt="">
								</a>
								<div class="member-info">
									<a href="#">Sách Tiếng Anh Cho Người Bắt Đầu</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Team Area End -->
	</section>
	<div layout:fragment="script">
		<script>
						var total = 0;

			getAllCartCheckout();
			function getAllCartCheckout() {
				$.ajax({
					url: "http://localhost:8080/BookStore/api/cart/getAll", // Thay thế bằng URL của API hoặc phương thức máy chủ của bạn.
					type: "GET",
					contentType: "application/json",
					dataType: "json",
					success: function (data) {

						$("tbody").empty();
						var dem = 0;
						// Duyệt qua danh sách dữ liệu và cập nhật tbody
						data.forEach(function (data) {
							total += data.book.price * data.quantity;
							var row = '<tr>';
							row += '<td><h3 class="product-name">' + data.book.title + '</h3></td>';
							row += '<td><span class="cart-price"><span class="check-price">' + data.book.price.toLocaleString('en-US') + 'đ' + '</span></span></td>';

							row += '<td>' + data.quantity + '</td>';
							row += '<td>' + (data.book.price * data.quantity).toLocaleString('en-US') + 'đ' + '</td>';
							$("tbody").append(row);
							dem++;
						});
						$('.subtotal').html(total.toLocaleString('en-US') + 'đ')
						$('.total').html((total + 25000).toLocaleString('en-US') + 'đ')
					},
					error: function () {
						console.log("Lỗi khi tải dữ liệu qua AJAX");
					},
				});
			}

			function addOrder() {
				let itemToAdd = {
					total_amount : total,

					note : $('#ship_note').val(),
					address:$('#ship_address').val(),
					phone: $('#ship_phone').val()
					// Thêm các thuộc tính khác tại đây
				};
				
				$.ajax({
					url: "http://localhost:8080/BookStore/client/order/save", // Thay thế bằng URL của API hoặc phương thức máy chủ của bạn.
					type: "POST",
					contentType: "application/json",
					data: JSON.stringify(itemToAdd),
					success: function (data) {
						alert("Cập nhật giỏ hàng thành công");
						
					},
					error: function (error) {
						console.log(error.responseText);
						alert(error.responseJSON.value)
					},
				});
			}
		</script>
	</div>


</body>

</html>