<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org " xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/index.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body layout:fragment="client-content">

    <div class="header-area" th:insert="client/head :: client-menu">
        
    </div>
    <!-- Mobile Menu End -->        
    <!-- slider Area Start -->
   <!-- Map Area Start -->
		<div class="map-area">
			<div id="googleMap" style="width:100%;height:445px;"></div>
		</div>
		<!-- Map Area End -->	
    <!-- slider Area End-->    
    <!-- Online Banner Area Start -->    
	<div class="address-info-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 hidden-sm">
					<div class="address-single">
						<div class="all-adress-info">
							<div class="icon">
								<span><i class="fa fa-user-plus"></i></span>
							</div>
							<div class="info">
								<h3>PHONE</h3>
								<p>+(02)-12345-6789-55</p>
								<p>+(05)-15689-5698-44</p>
							</div>
						</div>
					</div>						
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="address-single">
						<div class="all-adress-info">
							<div class="icon">
								<span><i class="fa fa-map-marker"></i></span>
							</div>
							<div class="info">
								<h3>ADDRESS</h3>
								<p>175 Tây Sơn, Đống Đa</p>
								<p>Hà Nội city, VietNam.</p>
							</div>
						</div>
					</div>						
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="address-single no-margin">
						<div class="all-adress-info">
							<div class="icon">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="info">
								<h3>E-MAIL</h3>
								<p>info123@gmail.com</p>
								<p>www.companyweb.com</p>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
    <!-- Online Banner Area End -->   
    <!-- Shop Info Area Start -->   
    
    <!-- Shop Info Area End -->
    <!-- Featured Product Area Start -->
    
    <!-- Featured Product Area End -->
    <!-- Testimonial Area Start -->
    
    <!-- Testimonial Area End -->
    <!-- Counter Area Start -->
    
    <!-- Counter Area End -->
    <!-- Blog Area Start -->
    
    <!-- Blog Area End -->
    <!-- News Letter Area Start -->
    <div class="contact-form-area">
		<div class="container">
			<div class="about-title">
				<h3>LEAVE A MESSAGE</h3>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form>
						<div class="row">
							<div class="col-md-5">
								<div class="contact-form-left">
									<input type="text" placeholder="Your Name">
									<input type="email" placeholder="Your Email">
									<input type="text" placeholder="Your phone">
								</div>								
							</div>
							<div class="col-md-7">
								<div class="contact-form-right">
									<div class="input-message">
										<textarea name="message" id="message" placeholder="Your Message"></textarea>
										<input class="btn btn-default" type="submit" value="SEND" name="submit" id="submit">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    <!-- News Letter Area End -->
    <!-- Footer Area Start -->
    <footer th:insert="client/footer::client-footer"></footer>
    <!-- Footer Area End -->
    <!--Quickview Product Start -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="" th:src="@{/user/img/quick-view.jpg}">
                                </div>
                            </div>
                            <div class="product-info">
                                <h1>Frame Princes Cut Diamond</h1>
                                <div class="price-box">
                                    <p class="s-price"><span class="special-price"><span class="amount">$280.00</span></span></p>
                                </div>
                                <a href="product-details.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="numbers-row">
                                            <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Quickview Product-->			
    <!-- all js here -->
    <!-- jquery latest version -->
    <div th:insert="client/footer :: script"></div>
</body>
</html>