<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org " xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/index.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head >
       
    </head>
    <body layout:fragment="client-content">
        <section th:include="client/head :: client-menu"></section>
        <!--Header Area End-->
		<!-- Mobile Menu Start -->
		<section th:insert="client/head::client-mobile"></section>
        <!--Header Area End-->
		<!-- Mobile Menu Start -->

        <section th:insert="client/head::client-breadcums"></section>
		<!-- Breadcrumbs Area Start --> 
        <!-- Single Product Area Start -->
        <section layout:fragment="client-body"></section>
        <!-- Single Product Area End -->
        <!-- Related Product Area Start -->
        
        <!-- Related Product Area End -->
		<!-- Footer Area Start -->
		<footer th:insert="client/footer::client-footer">
		    
		</footer>
        
		<!-- Footer Area End -->
		<!-- all js here -->
		<!-- jquery latest version -->
        <div th:insert="client/footer::footer-client-script">


        </div>
        <div layout:fragment="script"></div>
    </body>
</html>