<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org " xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{client/layout.html}" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <section layout:fragment="client-body">
        <div class="shopping-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="shop-widget">
                            <div class="shop-widget-top">
                                <aside class="widget widget-categories">
                                    <h2 class="sidebar-title text-center">CATEGORY</h2>
                                    <ul class="sidebar-menu">
                                        <li>
                                            <a href="#">
                                               <i class="fa fa-angle-double-right"></i>
                                                LEARNING                                          
                                                <span>(5)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                               <i class="fa fa-angle-double-right"></i>
                                                LIGHTING                                            
                                                <span>(8)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                              <i class="fa fa-angle-double-right"></i>
                                               LIVING ROOMS
                                                <span>(4)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                               <i class="fa fa-angle-double-right"></i>
                                                LAMP                                           
                                                <span>(7)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </aside> 
                                <aside class="widget shop-filter">
                                    <h2 class="sidebar-title text-center">PRICE SLIDER</h2>
                                    <div class="info-widget">
                                        <div class="price-filter">
                                            <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 3.57143%; width: 77.8571%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 3.57143%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 81.4286%;"></span></div>
                                            <div class="price-slider-amount">
                                                <input type="text" id="amount" name="price" placeholder="Add Your Price">
                                                <div class="widget-buttom">
                                                    <input type="submit" value="Filter">  
                                                    <input type="reset" value="CLEAR">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>                            
                            </div>
                            <div class="shop-widget-bottom">
                                <aside class="widget widget-tag">
                                    <h2 class="sidebar-title">POPULAR TAG</h2>
                                    <ul class="tag-list">
                                        <li>
                                            <a href="#">e-book</a>
                                        </li>
                                        <li>
                                            <a href="#">writer</a>
                                        </li>
                                        <li>
                                            <a href="#">book’s</a>
                                        </li>
                                        <li>
                                            <a href="#">eassy</a>
                                        </li>
                                        <li>
                                            <a href="#">nice</a>
                                        </li>
                                        <li>
                                            <a href="#">author</a>
                                        </li>
                                    </ul>
                                </aside>
                                <aside class="widget widget-seller">
                                    <h2 class="sidebar-title">TOP SELLERS</h2>
                                    <div class="single-seller">
                                        <div class="seller-img">
                                            <img th:src="@{/user/img/shop/1.jpg}" alt="">
                                        </div>
                                        <div class="seller-details">
                                            <a href="shop.html"><h5>Cold mountain</h5></a>
                                            <h5>110.000đ</h5>
                                            <ul>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="single-seller">
                                        <div class="seller-img">
                                            <img th:src="@{/user/img/shop/2.jpg}" alt="">
                                        </div>
                                        <div class="seller-details">
                                            <a href=""><h5>The historian</h5></a>
                                            <h5>65.000đ</h5>
                                            <ul>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                                <li><i class="fa fa-star icolor"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="shop-tab-area">
                            <div class="shop-tab-list">
                                <div class="shop-tab-pill pull-left">
                                    <ul>
                                        <li class="active" id="left"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span>Grid</span></a></li>
                                        <li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span>List</span></a></li>
                                    </ul>
                                </div>
                                <div class="shop-tab-pill pull-right">
                                    <ul>
                                        <li class="product-size-deatils">
                                            <div class="show-label">
                                                <label>Show : </label>
                                                <select>
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="09">09</option>
                                                    <option value="08">08</option>
                                                    <option value="07">07</option>
                                                    <option value="06">06</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="product-size-deatils">
                                            <div class="show-label">
                                                <label><i class="fa fa-sort-amount-asc"></i>Sort by : </label>
                                                <select>
                                                    <option value="position" selected="selected">Position</option>
                                                    <option value="Name">Name</option>
                                                    <option value="Price">Price</option>
                                                </select>
                                            </div>
                                        </li>	
                                        <li class="shop-pagination"><a href="#">1</a></li>
                                        <li class="shop-pagination"><a href="#">2</a></li>
                                        <li class="shop-pagination"><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="tab-content">
                                <div class="row tab-pane fade in active" id="home">
                                    <div class="shop-single-product-area" th:each="b : ${book}">
                                        <div class="col-md-4 col-sm-6" >
											<div class="single-banner">
												<div class="product-wrapper">
													<a th:href="@{/BookStore/client/book/{id}/detail(id=${b.id})}" class="single-banner-image-wrapper">
														<img alt="" th:src="@{'/images/'+${b.image}}">
														<div class="price" th:text="${#numbers.formatDecimal(b.price,3,'POINT',0,'COMMA')}+'đ'"></div>

													</a>
													<div class="product-description">
														<div class="functional-buttons">
                                                       <a sec:authorize="isAuthenticated()" th:onclick="addCart([[${b.id}]],[[${b.price}]],1)"  title="Add to Cart">
																<i class="fa fa-shopping-cart"></i>
															</a>
															
														<a sec:authorize="!isAuthenticated()" href="/login"  title="Add to Cart">
																<i class="fa fa-shopping-cart"></i>
															</a>
																<a th:onclick="addWishList([[${b.id}]],[[${b.price}]],1)" title="Add to Wishlist">
																<i class="fa fa-heart-o"></i>
															</a>
															
															<a href="#" title="Quick view" data-toggle="modal" th:attr="data-target='#productModal'+${b.id}">
																<i class="fa fa-compress"></i>
															</a>
														</div>
													</div>
												</div>
												<div class="banner-bottom text-center">
													<div class="banner-bottom-title">
														<a th:href="@{/BookStore/client/book/{id}/detail(id=${b.id})}" th:text="${b.title}"></a>
													</div>
													<div class="rating-icon">
														<i class="fa fa-star icolor"></i>
														<i class="fa fa-star icolor"></i>
														<i class="fa fa-star icolor"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
												</div>
											</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="row">
                                        <div class="single-shop-product" th:each="b : ${book}">
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                <div class="left-item">
                                                    <a th:href="@{/BookStore/client/book/{id}/detail(id=${b.id})}" title="East of eden">
                                                        <img th:src="@{'/images/'+${b.image}}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-7 col-md-8">
                                                <div class="deal-product-content">
                                                    <h4>
                                                        <a th:href="@{/BookStore/client/book/{id}/detail(id=${b.id})}" title="East of eden" th:text="${b.title}"></a>
                                                    </h4>
                                                    <div class="product-price">
                                                        <span class="new-price" th:text="${#numbers.formatDecimal(b.price,3,'POINT',0,'COMMA')}+'đ'">120.000đ</span>
                                                        <span class="old-price">140.000đ</span>
                                                    </div>
                                                    <div class="list-rating-icon">
                                                        <i class="fa fa-star icolor"></i>
                                                        <i class="fa fa-star icolor"></i>
                                                        <i class="fa fa-star icolor"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p>Tác giả : <span th:each="author : ${b.authors}" th:text="${author.name}"></span>
                                                        NXB: <span th:text="${b.publisher.name}"></span></p>
                                                    <div class="availability">
                                                        <span>In stock</span>
                                                        <span><a style="cursor: pointer;" th:onclick="addCart([[${b.id}]],[[${b.price}]],1)">Add to cart</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Quickview Product Start -->
        <div id="quickview-wrapper">
            <!-- Modal -->
            <div th:each="b : ${book}" class="modal fade" th:id="'productModal'+${b.id}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-product">
                                <div class="product-images">
                                    <div class="main-image images">
                                        <img alt="" th:src="@{'/images/'+${b.image}}">
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h1 th:text="${b.title}"></h1>
                                    <div class="price-box">
                                        <p class="s-price"><span class="special-price"><span class="amount" th:text="${#numbers.formatDecimal(b.price,3,'POINT',0,'COMMA')}+'đ'"></span></span></p>
                                    </div>
                                    <a th:href="@{/BookStore/client/book/{id}/detail(id=${b.id})}" class="see-all">See all features</a>
                                    <div class="quick-add-to-cart">
                                        <form  class="cart">
                                            <div class="numbers-row">
                                                <input type="number" id="french-hens" min="1">
                                            </div>
                                            <button class="single_add_to_cart_button" type="submit" th:onclick="addCartQuantity([[${b.id}]],[[${b.price}]])">Add to cart</button>
                                        </form>
                                    </div>
                                    <div class="quick-desc" th:utext="${b.description}">
                                    </div>
                                    <div class="social-sharing">
                                        <div class="widget widget_socialsharing_widget">
                                            <h3 class="widget-title-modal">Share this product</h3>
                                            <ul class="social-icons">
                                                <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                                <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                                <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .product-info -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Quickview Product-->	
    </section>
    <div layout:fragment="script">
        <script>
            function addCartQuantity(book_id, w_price) {
                let sl = $("#french-hens").val() ;
                alert(sl)
                if(sl<=0){
                   alert("Số lượng thêm vào phải lớn hơn 1") 
                   return false;
                }
                let itemToAdd = {
                    book_id: book_id,
                    price: w_price,
                    quantity: sl,
                    // Thêm các thuộc tính khác tại đây
                };
                $.ajax({
                    url: "http://localhost:8080/BookStore/api/cart/add", // Thay thế bằng URL của API hoặc phương thức máy chủ của bạn.
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(itemToAdd),
                    success: function (data) {
                        alert("Thêm vào giỏ hàng thành công");

                        getAllCart();
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    },
                });
            }
        </script>
    </div>
</body>
</html>