<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/index.html}"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titleName}"></title>
</head>
<body>
    <div class="content-wrapper" layout:fragment="customer-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0" th:text="${titleName}"></h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
              <div class="row d-flex justify-content-center align-items-center">
                <!-- left column -->
                <div class="col-md-6">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title" th:text="${pageName}"></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" th:object="${author}" th:action="@{/BookStore/admin/author/insert}">
                      <div class="card-body">
                        <div class="form-group">
                            <!-- <input type="text" class="form-control" hidden name="id" id="exampleInputEmail1" placeholder="name" > -->
                          <label for="exampleInputEmail1">Tên tác giả</label>
                          <input type="text" class="form-control" name="name" th:field="*{name}" id="exampleInputEmail1" placeholder="name">
                          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Biography</label>
                          <input type="text" class="form-control" name="biography" th:field="*{biography}" id="exampleInputPassword1" placeholder="Biography">
                          <span th:if="${#fields.hasErrors('biography')}" th:errors="*{biography}"></span>
                        </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.card -->
      
                  <!-- general form elements -->
                  <!-- /.card -->
      
                  <!-- Input addon -->
                  <!-- /.card -->
                  <!-- Horizontal Form -->
                  <!-- /.card -->
      
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>
        <!-- /.content -->
      </div>
      
</body>
</html>
